body {
  background-image: url(MVC-138-G.gif);
}


html {
  cursor: url(cursor3.gif), auto;
 /* set up the cursor url like you would a background image */
}

a:hover {
cursor: url(exclaim.gif), auto;
 /* set up the cursor url like you would a background image */
}



#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 5px solid black;
  
  background-color: #867A88;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  /* grid-template-rows: 600px;  This is for the dummy columns, replace or delete */
}

/* style for dummy columns, delete and replace with your own CSS 
.dummycolumn {
 
  grid-column: span 1;
}
*/

header {
  grid-column: span 12;
  height: 94px;
  background-color: black;
  text-align: center;
  

  
}



header h1 a{
  font-family: "Joti One", serif;
  font-weight: 400;
  font-size: 48px;
  display: block;
  font-style: normal;
  line-height: 50px;
  text-decoration: none;
  color: white;
 position: absolute;
  padding-left: 300px;
  padding-right: 350px;
  padding-bottom: 15px;
  
}

.star1 {
  float: left;
width: 67px;
height: 64px;
padding-top: 15px;
padding-left: 15px;
image-rendering: pixelated;
}

.star2 {
  float: right;
width: 67px;
height: 64px;
padding-top: 15px;
padding-right: 15px;
image-rendering: pixelated;
}

.pinw {
  float: left;
  margin-left: 205px;
}




nav {
  grid-column: span 9;
  border: 3px solid black;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    margin-top: 25px;
    text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;  
  border-top: 5px solid black;
  
}


.one {
  grid-column: span 3;
  background-image: linear-gradient(to bottom, #efd1d1, #eaaaaa, #e88787 );
  width: 256px;
  margin-left: 9em;
}
.two {
  grid-column: span 3;
  background-image: linear-gradient(to bottom, #efd1d1, #eaaaaa, #e88787 );
  width: 256px;
}
.three {
  grid-column: span 3;
  background-image: linear-gradient(to bottom, #efd1d1, #eaaaaa, #e88787 );
  width: 256px;

  
}


nav ul {
  list-style-type: none;
  padding-left: 1em;

  
  
}


.fix {
  padding-right: 10px;
}
.fix2 {
  padding-right: 25px;
}

nav ul li a {
  display: block;
  text-decoration: none;  
 color: black;
 font-size: 30px;
 
 
}





nav:hover {
  background-image: linear-gradient(to top, #efd1d1, #eaaaaa, #e88787 );
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  border-top: 3px solid black;
 
}






.border{
  grid-column: span 8;
text-align: center;
margin-left: 15em;

}

.please{
  border-top: 5px solid black;
  
}

.m1 {
  grid-column: span 12;
  margin-top: 30px;
  padding: 20px;
}

.welcome {
  
  width: 615px;
  height: 100px;
  margin-left: 150px;
  margin-right: 50px;
  image-rendering: pixelated;
}


.m2{
  grid-column: span 12;
  background-color: #efd1d1;
  margin: 2em;
  padding: 1em;

  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.sg {
  grid-column: span 4;
  margin-left: 350px;
  margin-bottom: 1em;
}


.mme {
  grid-column: span 12;

.snow {
  grid-column: span 2;
  margin: 1em;
  width: 250px;
  float: left;
  margin-left: 40px;
  
}


.metxt {
  width: 800px;
  float: right;
  grid-column: span 10;
  background-color: #efd1d1;
  margin: 2em;
  padding: 1em;
  margin-left: -1em;
  margin-right: 21px;

  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

}








/* ------------------------- */

.text {
  padding-right: 1em;

  
}
.text2 {
  padding-right: 0.5em;
}

.pina {
  float: left;
  image-rendering: pixelated;
  
}
.con {
  image-rendering: pixelated;
  position: absolute;
  height: 40px;
  
}

.ma1 {
grid-column: span 12;

  .ctl {
    height: 60px;
    margin-left: 175px;
    margin-top: 25px;
    image-rendering: pixelated;
  }

  .sb {
    height: 35px;
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 40px;
  }

}



.ma2 {
  grid-column: span 12;
}

.new {
  position: absolute;
  image-rendering: pixelated;
  height: 25px;
}


#gallery {
  margin: 0 auto; /* center gallery */
  width: 1200px; /* set width */

  /* Three column grid with 1em gap */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

figure {
  display: block; /* make figure a block */
  text-align: center; /* center content */
  padding: 1em;
  
  transition: all 1s; /* hover transition */
}

/* make the image fit inside the figure block */
figure img {
  width: 100%;
}

/* on hover, transform the contents of figure to be 1.1 times larger */

figure:hover {
  transform: scale(1.1);
}

footer {
  grid-column: span 12;
  margin-bottom: 1em;
  margin-top: 1em;
  .cd {
    float: none;
    margin-left: 48em;
    margin-top: 1em;
  }
  .cda {
    float: none;
    margin-left: 53em;
    margin-top: 1em;
  }

  .cdm {
    float: none;
    margin-left: 44em;
    margin-top: 1em;
  }

  .credit {
    font-family: "Doto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: larger;
    float: right;
    margin-right: 1em;
  }
  
}
